USE [master]
GO
/****** Object:  Database [webglab_dbs]    Script Date: 03/03/2021 10:18:46 AM ******/
CREATE DATABASE [webglab_dbs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webglab_dbs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\webglab_dbs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webglab_dbs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\webglab_dbs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webglab_dbs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webglab_dbs]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/03/2021 10:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 03/03/2021 10:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[MaSP] [int] NOT NULL,
	[IDHoaDon] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 03/03/2021 10:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhomSP]    Script Date: 03/03/2021 10:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSP](
	[MaNhom] [int] NOT NULL,
	[TenNhom] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__NhomSP__234F91CD18CF969F] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 03/03/2021 10:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](max) NOT NULL,
	[DonGia] [money] NOT NULL,
	[MoTaSP] [nvarchar](max) NULL,
	[HinhAnh] [varchar](max) NOT NULL,
	[NhomSP] [int] NOT NULL,
 CONSTRAINT [PK__SANPHAM__2725081CA68D9066] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210302090507_InitialDB', N'3.1.12')
SET IDENTITY_INSERT [dbo].[ChiTietHD] ON 

INSERT [dbo].[ChiTietHD] ([ID], [Count], [Price], [Total], [MaSP], [IDHoaDon]) VALUES (11, 2, 5800000, 11600000, 2, 8)
INSERT [dbo].[ChiTietHD] ([ID], [Count], [Price], [Total], [MaSP], [IDHoaDon]) VALUES (12, 1, 4900000, 4900000, 4, 8)
INSERT [dbo].[ChiTietHD] ([ID], [Count], [Price], [Total], [MaSP], [IDHoaDon]) VALUES (13, 1, 5800000, 5800000, 2, 9)
SET IDENTITY_INSERT [dbo].[ChiTietHD] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([ID], [TotalPrice]) VALUES (8, 16500000)
INSERT [dbo].[HoaDon] ([ID], [TotalPrice]) VALUES (9, 10700000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
INSERT [dbo].[NhomSP] ([MaNhom], [TenNhom]) VALUES (1001, N'Giày NIKE')
INSERT [dbo].[NhomSP] ([MaNhom], [TenNhom]) VALUES (1002, N'Giày ADIDAS')
INSERT [dbo].[NhomSP] ([MaNhom], [TenNhom]) VALUES (1003, N'Quần Áo')
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [MoTaSP], [HinhAnh], [NhomSP]) VALUES (1, N'SUPREME X NIKE AIR FORCE 1 LOW', 2500000.0000, N'SUPREME X NIKE AIR FORCE 1 LOW', N'giay3.jpg', 1001)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [MoTaSP], [HinhAnh], [NhomSP]) VALUES (2, N'AIR JORDAN 1 MID SE SIGNAL BLUE', 5800000.0000, N'AIR JORDAN 1 MID SE SIGNAL BLUE', N'giay1.jpg', 1001)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [MoTaSP], [HinhAnh], [NhomSP]) VALUES (3, N'AIR JORDAN 1 LOW SHADOW', 5800000.0000, N'AIR JORDAN 1 LOW SHADOW', N'giay2.jpg', 1001)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
/****** Object:  Index [IX_SANPHAM_NhomSP]    Script Date: 03/03/2021 10:18:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_SANPHAM_NhomSP] ON [dbo].[SANPHAM]
(
	[NhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__NhomSP__267ABA7A] FOREIGN KEY([NhomSP])
REFERENCES [dbo].[NhomSP] ([MaNhom])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__NhomSP__267ABA7A]
GO
USE [master]
GO
